
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

h1{
  font-weight: bold;
  text-shadow: 0 2px 0 #8b6e15, 0 4px 0 #7c6213, 0 6px 0 #6e5611, 0 8px 0 #5f4b0e, 0 10px 0 #503f0c, 0 12px 0 #41330a;
  font-size: 2rem; 
}


#main-header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.title {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.title h2{
  background: linear-gradient(rgb(0, 0, 0), rgb(226, 27, 183));
  -webkit-background-clip: text;
  color: transparent;  
}

a[href] {
  color: #ffffff;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header > nav {
  margin-top: 10px;
  background-color: #333;
  padding: 10px;
}

section:nth-child(odd) {
  background-color: #f8f9fa;
}

.title::before {
  content: '';
  display: block;
  border-top: 5px solid #007bff;
  margin: 10px;
}

.title::after {
  content: '';
  display: block;
  border-bottom: 5px solid #007bff;
  margin: 10px;
}

.fila{
  display: flex;
  margin: 30px 0;
}

.fila .texto{
  background-color: #181b05;
  width: 80%;
  padding: 0 60px;
  line-height: 30px;
}

.fila p{
  font-size: 45px;
}

.izquierda{
  text-align: left;
}

.derecha{
  text-align: right;
}

.fila .texto h2{
  font-size: 38px;
  color: #d3ab32;
  text-align: center;
}

.fila .img{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fila .img img{
  position: relative;
  width: 200px;
}

.fila .texto p{
  font-size: 20px;
  color: #f5f3ef;
  text-align: center;
}

.file{
  display: flex;
  margin: 30px 0;
}

.file .text{
  background-color: #062a5f;
  width: 80%;
  padding: 0 60px;
  line-height: 30px;
}

.file p{
  font-size: 40px;
}

.izqui{
  text-align: left;
}

.dere{
  text-align: right;
}

.file .text h2{
  font-size: 38px;
  color: #f098ae;
  text-align: center;
}

.file .img{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file .img img{
  position: relative;
  width: 200px;
}

.file .text p{
  font-size: 20px;
  color: #f5f3ef;
  text-align: center;
}


.fill{
  display: flex;
  margin: 30px 0;
  
}

.fill .tex{
  background-color: #065f4c;
  width: 80%;
  padding: 0 60px;
  line-height: 30px;
}

.fill p{
  font-size: 20px;
}

.izq{
  text-align: left;
}

.der{
  text-align: right;
}

.fill .tex h2{
  font-size: 38px;
  color: #dbbc09;
  text-align: center;
}

.fill .img{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill .img img{
  position: relative;
  width: 200px;
}

.fill .tex p{
  font-size: 20px;
  color: #f5f3ef;
  text-align: center;
}

#tit{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
  margin-top: 20px;
}


#video{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; 
  margin-top: 20px;

}


.vid video{
  width: 100%;
  height: 300px;
}

h3{
  font-size: 35px;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

